<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="current">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Current</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="completed">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <ion-label>Completed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Create</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
